.BirthdayForm{
    background-color: white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.BirthdayForm > label{
    font-weight: bold;
    margin: 0.3rem 0rem;
}

.BirthdayForm > input{
    height: 1.8rem;
    width: 100%;
    outline: none;
    padding-left: 0.5rem;
}

.BirthdayForm > input.invalid{
    border: 1px solid red;
}

/* Button styling when form is valid */

.BirthdayForm > button{
    margin: 1.5rem 2rem 0rem 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: brown;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.BirthdayForm > button:hover{
    background-color: rgb(126, 31, 31);
}


/* Button styling when form is invalid */

.BirthdayForm > button.invalid{
    cursor: not-allowed;
}

.BirthdayForm > button.invalid:hover{
    background-color: brown;
}


.loadingContainer{
    margin: 0.8rem auto;
    font-weight: bold;
}